

.footer {
    flex-shrink: 0;
	height: 4.5rem;
	border: 0 solid #979797;
	background: var(--color-primary-background);
    box-shadow: var(--color-primary-boxshadow);
    
    display: flex;
    justify-content: center;

    &__text {
        padding: 1rem;
    }
}