

.header {
	height: 4.5rem;
	border: 0 solid #979797;
	background: var(--color-primary-background);
    box-shadow: var(--color-primary-boxshadow);;

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 5rem;
        
        @include respond(phone) {
            padding: .5rem
        }
    }
}