
.login-container {
    display: flex;
    justify-content: center;
}

.login {
    background-color: lightgray;
    width: 40%;
    height: 50%;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @include respond(phone) {
        width: 80%;
    }

    @include respond(tablet) {
        width: 80%;
    }
    

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        margin: 0;
        background-color: white;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,0.11);
        height: 5rem;
    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 4;
        font-size: 2rem;
        margin: 2rem 5rem;

        & > * {
            margin: .5rem;
        }

        & > input {
            border-radius: 1rem;
            height: 5rem;
            border: none;
        }

        & > input {
            //border: solid .2rem red;

            &:focus {
                border: .2rem solid green;
                outline: none;
            }

            &:focus:invalid {
                border: .2rem solid red;
                outline: none;
            }
        }

        & button {
            align-self: flex-end;
            width: 30%;
            height: 5rem;
            border-radius: 1rem;

            
            @include respond(tablet) {
                width: 50%;
            }
            @include respond(tablet) {
                width: 50%;
            }
        }
    }
}