.banner {
  position: relative;
  display: block;
  margin: 5rem;
  width: 80%;
  height: 18rem;
  border: 1px solid var(--color-primary);
  text-align: center;
  color: #451;
  background: #9b2;
  border-radius: 4px;
  box-shadow: var(--shadow-dark);
                      
    &::before,
    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        left: -100px;
        top: 4rem;
        display: block;
        width: 15rem;
        height: 0px;
        border: 9rem solid #9b2;
        border-right: 4rem solid #791;
        border-bottom-color: #94b81e;
        border-left-color: transparent;
        transform: rotate(-5deg);
    }

    &::after {
        left: auto;
        right: -7rem;
        border-left: 2rem solid #791;
        border-right: 7rem solid transparent;
        transform: rotate(5deg);
    }
}
