

////DROPDOWN MENU

.dropdown {
    position: relative;
    display: inline-block;

    &__content {
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        overflow: auto;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        width: 75rem;
        height: 16rem;
        margin-top: 2rem;
        margin-left: -23rem;
        border-radius: 1rem;
        flex-direction: column;
        padding: 2rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

        @include respond(phone) {
            width: 44rem;
            height: 43rem;
            margin-left: 0;
        }


        &__box {
            display: flex; 
            justify-content: space-between;
            font-size: 1.2rem;
            padding-bottom: 1rem;
            border-bottom: .1rem solid var(--color-primary-light);
            

            @include respond(phone) {
                flex-direction: column;
                width: 44rem;
                border: none;

                & > * {
                    border-bottom: .2rem solid var(--color-primary-light);
                    width: 91%;
                }

                & > *:not(:first-child) {
                    padding-top: 1.5rem;
                }
            }

            &__availability {

                @include respond(phone) {
                    padding-bottom: 2rem;
                }
                
                &__container {
                    display: flex;
                    align-items: center;
                    font-size: 1.4rem;
                }
            }

            &__gender {
                display: flex;
                flex-direction: column;

                
                @include respond(phone) {
                    padding-bottom: 2rem;
                }
            }

            &__category {
                
                @include respond(phone) {
                    padding-bottom: 2rem;
                }
            }
        }

        &__box-bottom {
            display: flex; 
            justify-content: space-between;
            align-items: center;
            font-size: 1.2rem;
            width: 33rem;
            padding-top: 1rem;

            @include respond(phone) {
                flex-direction: column;
                width: 44rem;
                align-items: flex-start;

                &__rating {
                    border-bottom: .2rem solid var(--color-primary-light);
                    width: 91%;
                    padding-bottom: 4rem;
                }

                &__price {
                    padding-top: 2rem;
                }
                
            }
        }
    }
}

.show {
    display: flex;
}

////DIVIDER

.divider {
    width: 100%;
    align-self: center;
    border: .1rem solid #3FC5CB;  
    
    @include respond(phone) {
        display: none;
    }
}


///SWITCH

.switch {
    position: relative;
    display: flex;
    width: 5rem;
    height: 2.4rem;
    margin-right: .5rem;
    margin-top: .5rem;


    & > input {
        display: none;

        &:checked + .switch__slider {
            background-color: var(--color-primary);
        }

        &:checked + .switch__slider:before {
            transform: translateX(2.1rem);
        }
    }

    &__slider {
        position: relative;
        cursor: pointer;
        background-color: lightgrey;
        -webkit-transition: .4s;
        transition: .4s;
        height: 100%;
        width: 90%;
        border-radius: 3rem;

        &:before {
            position: absolute;
            content: "";
            height: 1.6rem;
            width: 1.6rem;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
        }
    }
}


/////RADIO BUTTON

/* The container */

.radioBtn {
    display: flex;
    font-size: 1.4rem;
    margin-top: 1rem;

    &__container {
        position: relative;
        display: flex;
        padding-left: 3.5rem;
        padding-right: 1rem;

        &__input {
            display: none;
        }

        &__label {
            cursor: pointer;
        }

        &__checkmark {
            height: 2.2rem;
            width: 2.2rem;
            border: 1px solid var(--color-primary);
            border-radius: 50%;
            display: inline-block;
            position: absolute;
            left: 0;
            top: -.4rem;

            &::after {
                content: "";
                height: 1.8rem;
                width: 1.8rem;
                border-radius: 50%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                background-color: var(--color-primary);
                opacity: 0;
                transition: opacity .2s;

            }
        }

        &__input:checked ~ &__label &__checkmark::after {
            opacity: 1;
        }
    }
}

///CUSTOM SELECTOR
.box {
    margin-top: .5rem;
    display: flex;
    align-items: center;
    
    &__selector {
        margin-right: -2.5rem;

        & > select {
            background-color: var(--color-primary);
            color: white;
            padding: 1rem;
            width: 23.5rem;
            height: 3.5rem;
            outline: none;
            border-radius: .5rem;
            box-shadow: var(--box-shadow);
            -webkit-appearance: button;
        }
    }

    &__icon {
        fill: white;
        width: var(--size-small-icon);
        height: var(--size-small-icon);
        margin-right: 1rem;
        margin-left: -1rem;
        z-index: 1;
    }
}


///RANGE SLIDER

input[type=range] {
  box-sizing: border-box;
  appearance: none;
  width: 26.8rem;
  overflow: hidden;
  border: 0;
  border-radius: 1px;
  outline: none;
  background: linear-gradient(var(--color-primary), var(--color-primary)) no-repeat center;
  background-size: 100% 2px;
  pointer-events: none;

  &:active,
  :focus {
    outline: none;
  }

  &::-webkit-slider-thumb {
    height: 2rem;
    width: 2rem;
    border-radius: 28px;
    background-color: var(--color-primary);
    position: relative;
    cursor: pointer;
    appearance: none;
    pointer-events: all;

  }
}

.range-slider {
  position: relative;

  & > input[type=range] {
    position: absolute;
    margin-top: 1rem;
  }

  &--rating > input[type=range] {

    @include respond(phone) {
        margin-top: 2rem;
        left: -3.3rem;
    }
  }

  &--price > input[type=range] {
    width: 41rem;

    @include respond(phone) {
        width: 40rem;
    }
  }
}

